@import "../../variables.scss";

.jumbotron {
	margin-top: 20px;
	color: $white;
	&__title {
		margin-bottom: 10px;
	}
	&__text {
		font-size: 1.2rem;
		line-height: 1.6rem;
	}
	&__link-list {
		margin-top: 20px;
		display: flex;
		flex-direction: column;
		max-width: 320px;
	}
	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 10px;
		padding: 7px;
		border-radius: 10px;
		border: 3px solid $black;
		background-color: $black;
		transition: background-color .4s ease;
		&:hover {
			background-color: $gray;
			& .jumbotron__href {
				color: $red-active;
			}
		}
	}
	&__img {
		height: 30px;
		margin-right: 20px;
		background: radial-gradient(rgb(255, 255, 255) 0%, rgb(255, 255, 255) 60%, transparent 60%);
	}
	&__href {
		color: $red;
		transition: color .3s ease;
	}
}