@import '../../variables.scss';

.search {
	margin-top: 30px;
}

.search__control {
	color: $white;
	background: $black;
	width: 100%;
	font-size: 18px;
	border-radius: 5px;
	border: 3px solid $red;
	padding: 10px;
	outline: none;
	transition: border .5s;
	&:focus {
		border: 3px solid $red-active;
	}
}